@{
    ViewBag.Title = "Contact";
}
<h2>Scott Twichel</h2>
<h2>Tyler Larrabee</h2>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@CompanySearch.com</a><br />
    
</address>