@{
    ViewBag.Title = "Scott Twichel";
    
}

<h1>Tadaa!</h1>
<p>
    It was a long time coming but I'm finally caught up.
    All of the assignments for the course can be viewed within this app.
</p>





